html *
{
  font-family: 'Open Sans', sans-serif;
  background-color: #80D39B;
}

header {
  text-align: center;
}

h2 {
  text-decoration: underline;
}

.team-info {
  margin-left: 5%;
  margin-top: 3%;
}

.project-info, .dev-method, .team-docs{
  margin-left: 5%;
  margin-top: 2%;
  margin-right: 5%;
}

td, th {
  border: 1px solid;
  text-align: center;
  padding: 8px;
}

.tracker-table {
  margin-left: 20%;
  margin-top: 3%;
}

.domain-model {
  /* width: 40%; */
  margin-top: 10%;
  margin-left: 52%;
}

.domain-model-img {
  width: 100%;
  margin-left: -51%;
}

.metrics {
  margin-left: 5%;
  margin-top: 5%;
  margin-right: 5%;
}